<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>shopping-list</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onShowOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="onAddItem(form)">
    <ion-list>
      <ion-item>
        <ion-label fixed>Name</ion-label>
        <ion-input 
          type="text" 
          name="ingredientName" 
          placeholder="Milk"
          ngModel
          required
        >

        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label fixed>Amount</ion-label>
        <ion-input 
          type="number" 
          name="amount" 
          placeholder="2"
          ngModel
          required
        >

        </ion-input>
      </ion-item>
    </ion-list>
    <!-- SAVE && UPDATE BUTTONS, DEPENDING ON UPDATE MODE OR NOT -->
    <button 
      *ngIf="!updateMode"
      ion-button 
      type="submit" 
      block
      [disabled]="!form.valid"
    >
      Add Item
    </button>
    <ion-row>            
      <ion-col>
        <button 
          *ngIf="updateMode"
          ion-button 
          block
          (click)="onCancelUpdate()"
        >
          Cancel
        </button>
      </ion-col>       
      <ion-col>
          <button 
          *ngIf="updateMode"
          ion-button 
          type="submit" 
          block
          [disabled]="!form.valid"
        >
          Update
        </button>
      </ion-col> 
    </ion-row>
  </form>

  <!-- List of ingredients of shopping list -->
  <ion-list>
    <ion-item-sliding 
      *ngFor="let item of listItems; let i = index" 
      (click)="onCheckedItem(item)"
    >
      <ion-item>
        <h3>{{item.name}} ({{item.amount}})</h3>  
      </ion-item>  
      <ion-item-options>
        <button
          ion-button color="danger"
          (click)="onDeleteItem(i)"
        >
          <ion-icon name="trash">Remove</ion-icon>
        </button>
      </ion-item-options> 
    </ion-item-sliding>
  </ion-list>
</ion-content>